<?xml version="1.0"?>

<?if  $(var.arch) = 64 ?>
    <?define platform = x64 ?>
    <?define isWin64 = yes ?>
    <?define programfilesfolder_platform = ProgramFiles64Folder ?>
<?else ?>    
    <?define platform = x86 ?>
    <?define isWin64 = no ?>
    <?define programfilesfolder_platform = ProgramFilesFolder ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="6b6b1a0e-e726-4773-b963-6f89811483bf" Name="$(var.Name)" Version="$(var.Version)" Manufacturer="Guardtime AS" Language="1033">
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" Platform="$(var.platform)"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
        <Icon Id="ProductIcon" SourceFile="gt.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
        <Property Id="ARPHELPLINK" Value="http://www.guardtime.com"/>


        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.programfilesfolder_platform)">
                <Directory Id="Guardtime" Name="Guardtime">
                    <Directory Id="INSTALLDIR" Name="$(var.Name)-$(var.Version)">
                        <Component Id="ApplicationFiles" Guid="2a64757f-3a8f-4d81-9da8-59fc5600e65c" Win64="$(var.isWin64)">
                            <File 
                                Id="ApplicationFile1"
                                Source="..\$(var.dumpName)"
                                ProcessorArchitecture="$(var.platform)">
                            </File>
                            <File 
                                Id="ApplicationFile2"
                                Source="..\$(var.wrapName)"
                                ProcessorArchitecture="$(var.platform)">
                            </File>
                            <File 
                                Id="ApplicationFile3"
                                Source="..\$(var.grepName)"
                                ProcessorArchitecture="$(var.platform)">
                            </File>
                            <File 
                                Id="ApplicationFile4"
                                Source="..\$(var.undumpName)"
                                ProcessorArchitecture="$(var.platform)">
                            </File>
                            <File 
                                Id="ksie_desc"
                                Source="..\src\ksie.desc">
                            </File>
                            <File
                                Id="ksi_desc"
                                Source="..\src\ksi.desc">
                            </File>
                            <File 
                                Id="logsig_desc"
                                Source="..\src\logsig.desc">
                            </File>
                            <Environment Id="TLVUTIL_PATH" Name="TLVUTIL_PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="no" />
                            <Environment Id="Path" Name="Path" Value=";%TLVUTIL_PATH%" Permanent="no" Part="last" Action="set" System="no" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>



        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="ApplicationFiles"/>
        </Feature>
        
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_InstallDir" />
        
    </Product>

</Wix>